<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map-canvas { height: 100% }
</style>

  <h1>Not Subway</h1>
<div id="left_side">


  <form id="search_form" action="/restaurants" method="get">
    Where are you thinking?
    <% if @all_restaurants %>
    <select name="assumption">
      <% @all_restaurants.order('name').each do |a| %>
        <option value=<%=a.id%>>
          <%= a.name %> - $ <%= a.avg_price %> - <%= a.food_type %> - <%= a.address %>
        </option>
      <% end %>
      </select>
    <% end %>    
    <input id = "submit" type="submit" value="No!">
  </form>
</div>


<div id="map-canvas"></div>
